*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    
}
header{
    height: 125px;
    background-color: #0C64E9;
}
body{
    
}

.conteinergrid{
   width: 1200px;
   margin: 0 auto;
}

.cabeçalho{
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 100%;
}
.menu{
    width: 1000px;
    display: flex;
    justify-content: space-around;
}

.menu a{
    text-decoration: none;
    font-size: 16px;
    font-family: KoHo;
    text-transform: uppercase;
    color: white;
    font-size: bold;
}
.bannervendas{
    background-color: #0C64E9;     
}
.produtos{
    display: flex;
    justify-content: space-around;
    height: 330px;    
}
.fundobannercomunica{
    width: 100%;
    height: 420px;
    background-image: url(IMG/fundo\ banner\ comunidade.svg);
}
.bannercomunica{       
    display: flex;
    justify-content: space-around;
    align-items: center;
    height: 100%;
}
.bannercomunica p {
    font-size: 16px;
    font-family: koHo, sans-serif;
    margin: 10px;
}
.conteinerjogo{
    height: 400px;
    width: 440px;
    background-color: #0C64E9;    
}
.conteinerjogo img{
    display: block;
    margin-left: auto;
    margin-right: auto;
}
footer{
    background-color: #042E54;
    width: 100%;  
    display: flex;
    justify-content: space-between;
    height: 135px;  
}
footer p{
    font-size: 16px;
    font-family: KoHo;
    color: white;
    text-decoration: none;
    text-transform: uppercase;    
}
.rodape{
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 100%;
}
.redesocial{
    display: flex;
    justify-content: space-around;
}